<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/landing.css" media="screen" title="no title" charset="utf-8">

<div class="contentContainer">
  <div class="headerContent">
    <h1> Welcome to YelpCamp</h1>
    <hr>

    <a class="btn btn-primary" href="/campgrounds"> View All Campgrounds</a>
  </div>
</div>


<% include partials/footer %>
